body {
  font-family: Arial, sans-serif;
  margin: 5px;
}

h2 {
  color: #333;
}

label {
  display: block;
  margin-top: 10px;
}

input,
select{
	width: 150px;
    height: 30px;
	font-size: 15px;
	background-color:rgb(31, 31, 31);
	border:none;
	color:white;
	margin:3px;	
}

button {
	width: 150px;
    height: 30px;
	font-size: 15px;
	background-color:rgb(31, 31, 31);
	border:none;
	color:white;
	margin:3px;
}

button:hover {
  background-color:black;
  color: black;
}

.degrade{
	background-image: linear-gradient(80deg, rgb(0,0,0), rgb(128,128,128));
	height:92vh;
	color: black;
	font-family:Tahoma;
	text-align:center;
}	

.container{
  max-width: 500px;
  margin: 0 auto;
  text-align:center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
}

.outer-container {
	width:500px;
	margin: 0 auto;
	text-align:center;
    background: rgb(128,128,128); /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
	border-radius: 10px; /* Valor do raio do arredondamento */
    overflow: hidden; /* Garante que as bordas arredondadas se apliquem corretamente */
}

.conversorMoedas{
	position:absolute;
	background-color: rgb(169,169,169);
	top: 50%;
	left:50%;
	transform:translate(-50%,-50%);
	border-radius:22px;
	padding:15px;
}

.result-container{
	margin-top: 10px;
	/*background-color: #f2f2f2;*/
	padding: 0px;
	border-radius: 5px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align:center !important;
}

footer {
    background: rgb(128,128,128);
    color: #black;
    padding: 10px;
    text-align: center;
}
a:visited {
    color: darkgrey;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.social-icons a {
    color: white;
    font-size: 20px;
    margin: 0 10px;
}

.social-icons a:hover {
    color: green; /* Ou a cor desejada para o hover */
}